@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin : 0;
    height : 100hv;
}

canvas {
    display:block;

}

audio{
    display:none;
}
.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Kanji', sans-serif; /* Use Kanji font */
  font-size: 60px;
  font-weight: bold;
  color: #000000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5); /* Black outline */
  letter-spacing: 5px;
  animation: neon-glow 1.5s ease-in-out infinite alternate;
}
  
  @keyframes neon-glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #7676f5, 0 0 40px #7676f5, 0 0 50px #7676f5, 0 0 60px #7676f5, 0 0 70px #7676f5;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff, 0 0 80px #000000;
    }
  }
  }